<section aria-labelledby="comments-header">
    <p id="comments-header" style="font-weight: bold; font-size: 1.2rem;">Comentarios</p>
    
    <div id="reply-box" aria-label="Caja de respuesta">
      <!-- Aquí puedes incluir comentarios dinámicos en el futuro -->
    <div *ngFor="let comment of comments">
      <div>
        <p>{{comment.creatorName}}</p>
        <p>{{comment.comment}}</p>
      </div>

    </div>
    </div>
    
    <div id="reply-action-bar">
      <input 
        type="text" 
        placeholder="Escribe un comentario..." 
        aria-label="Campo para escribir comentario" 
        #commentInput/>
      <button mat-flat-button color="warn" aria-label="Enviar comentario"
      (click)="onSendClick(commentInput)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </section>
  