<section aria-labelledby="comments-header">
    <p id="comments-header">Comentarios</p>
    
    <div id="reply-box">
      <div *ngFor="let comment of comments" 
      [ngClass]="{'comment-container': true, 'creator-comment-container': isCommentCreator(comment)}">
        <div>
          <p class="comment-name">{{comment.creatorName}}</p>
          <p class="comment">{{comment.comment}}</p>
        </div>
      </div>
    </div>
    
    <div id="reply-action-bar">
      <input 
        type="text" 
        placeholder="Escribe un comentario..." 
        aria-label="Campo para escribir comentario" 
        #commentInput/>
      <button mat-flat-button color="warn" aria-label="Enviar comentario"
      (click)="onSendClick(commentInput)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
</section>
